
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background-color: #1a1a1a;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap : 16px;
}



.app{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0; 
}



.now-playing {
  flex: 1;                       /* takes available space */
  display: flex;
  align-items: flex-end;           /* vertically center within the middle space */
  justify-content: flex-start;       /* horizontally center */
  padding: 24px;
  padding-bottom: 16px;
}

.now-stack {
  display: flex;
  flex-direction: column;
  gap: 10px;
  transform: translate(50px, 0px)   

}

.cover {
  width: 220px;
  height: 220px;
  background: #000;             /* ✅ black box */
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 12px 30px rgba(0,0,0,0.4); 
}

.track-info {
  display: block;
}

#track-title {
  font-weight: 700;
  font-size: 18px;
}

#track-artist {
  font-size: 14px;
  opacity: 0.75;
  margin-top: 4px;
}


.search-bar {
    width: min(600px, 90vw);
    padding: 5px 20px;
    border-radius: 25px;
    background-color: #2a2a2a;
    margin: 0 auto;
}

.search-bar input {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: whitesmoke;
    font-family: "Inconsolata", sans-serif;
    font-weight: 500;
    font-size: 16px;
}


footer {
    margin-top: auto;
}
/* Player dashboard */
.player-dashboard {
    background-color: #000000;
    border-top: 1px solid #333;
    padding: 8px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}


.player-controls button{ 
    padding-bottom: 13px;
    padding-top: 8px;
    line-height: 0;
    transition: transform 0.2s ease,color 0.2s ease;
}

.player-controls button svg {
  stroke: currentColor;
}

.btn-next, .btn-previous {
    color: #717b74;
}

.btn-play{
    color: whitesmoke;
}


.btn-next svg, 
.btn-previous svg {
    width: 15px;
    height: 15px;
}

.btn-play svg{
    width: 30px;
    height: 30px;
}

.player-controls .btn-play:hover {
    color: #584fae;
    transform: scale(1.35);
}


.player-controls .btn-previous:hover,
.player-controls .btn-next:hover {
    color: #3e413f;
    transform: scale(1.2);
}

.progress-bar {
  max-width: 460px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 10px;
}

.progress-slider {

    --value: 0%;
    background: linear-gradient(
        to right,
        #0804e7 var(--value),
        whitesmoke var(--value)
    );

    width: 100%;
    outline: none;
    -webkit-appearance: none;
    appearance: none;

}



.progress-slider::-webkit-slider-runnable-track {
    height: 3px;
    background: transparent;
    
}

.progress-slider::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: 10px;
    height: 10px;
    background: #3e413f;
    border-radius: 50%;

    margin-top: -3.5px; /* centers thumb on bar */

    transform: scale(1);
    transition: transform 0.12s ease;
}

.progress-slider:hover::-webkit-slider-thumb {
    transform: scale(1.2);
}

.progress-slider:active::-webkit-slider-thumb {
    transform: scale(1.4);
}

/* For Firefox
/* unplayed part */
/* .progress-slider::-moz-range-track {
  height: 3px;
  background: white;
  border-radius: 999px;
}

played part
.progress-slider::-moz-range-progress {
  height: 3px;
  background: #1db954;
  border-radius: 999px;
} */

/* thumb */
/* .progress-slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  background: #1db954;
  border: none;
  border-radius: 50%;

  transition: transform 0.12s ease;
  transform: scale(1);
}

.progress-slider:hover::-moz-range-thumb { transform: scale(1.2); }
.progress-slider:active::-moz-range-thumb { transform: scale(1.4); }  */

